# 건강검진 대사증후군 분석

In [1]:
import pandas as pd

+ 파일 가져오기

In [ ]:
df = pd.read_csv("../01/국민건강보험공단_건강검진정보_20211229.csv", encoding="cp949")

In [8]:
df.head()

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석,데이터 공개일자
0,2020,1,36,1,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,1.0,0.0,0,NaN,NaN,2021-12-29
1,2020,2,27,2,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,1.0,0.0,0,NaN,NaN,2021-12-29
2,2020,3,11,2,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,1.0,0.0,0,NaN,NaN,2021-12-29
3,2020,4,31,1,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,1.0,0.0,1,0.0,0.0,2021-12-29
4,2020,5,41,2,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,1.0,0.0,0,NaN,NaN,2021-12-29

+ 열이름 확인 및 변경

In [9]:
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [ ]:
cc = list(df.columns)
cc

In [18]:
for i,c in enumerate(cc):
  print(i,c)

0 기준년도
1 가입자 일련번호
2 시도코드
3 성별코드
4 연령대 코드(5세단위)
5 신장(5Cm단위)
6 체중(5Kg 단위)
7 허리둘레
8 시력(좌)
9 시력(우)
10 청력(좌)
11 청력(우)
12 수축기 혈압
13 이완기 혈압
14 식전혈당(공복혈당)
15 총 콜레스테롤
16 트리글리세라이드
17 HDL 콜레스테롤
18 LDL 콜레스테롤
19 혈색소
20 요단백
21 혈청크레아티닌
22 (혈청지오티)AST
23 (혈청지오티)ALT
24 감마 지티피
25 흡연상태
26 음주여부
27 구강검진 수검여부
28 치아우식증유무
29 치석
30 데이터 공개일자

+ 필요한 열 가져오기

In [ ]:
df['성별코드']

In [21]:
df2 = df[["성별코드","허리둘레","수축기 혈압","이완기 혈압","식전혈당(공복혈당)","트리글리세라이드","HDL 콜레스테롤"]]

In [ ]:
df2.columns = ["성별코드","허리둘레","수축기혈압","이완기혈압","공복혈당","트리글리세라이드","HDL콜레스테롤"]

In [28]:
lt = list(df2.columns)
print('lt1: ',lt)
lt = [c.replace(' ','') for c in lt]
print('lt2: ',lt)
lt[4] = '공복혈당'
print('lt3: ',lt)

lt1:  ['성별코드', '허리둘레', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '트리글리세라이드', 'HDL 콜레스테롤']
lt2:  ['성별코드', '허리둘레', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '트리글리세라이드', 'HDL콜레스테롤']
lt3:  ['성별코드', '허리둘레', '수축기혈압', '이완기혈압', '공복혈당', '트리글리세라이드', 'HDL콜레스테롤']

In [29]:

df2.columns = lt
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   성별코드      1000000 non-null  int64
 1   허리둘레      999892 non-null   float64
 2   수축기혈압     992468 non-null   float64
 3   이완기혈압     992466 non-null   float64
 4   공복혈당      992398 non-null   float64
 5   트리글리세라이드  402322 non-null   float64
 6   HDL콜레스테롤  402315 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 53.4 MB

In [30]:
df2 = df2.dropna(axis=0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402249 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   성별코드      402249 non-null  int64
 1   허리둘레      402249 non-null  float64
 2   수축기혈압     402249 non-null  float64
 3   이완기혈압     402249 non-null  float64
 4   공복혈당      402249 non-null  float64
 5   트리글리세라이드  402249 non-null  float64
 6   HDL콜레스테롤  402249 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 24.6 MB

In [31]:
import numpy as np

# 높은 혈압(130/85mmHg 이상)
df2$높은혈압 <- ((df2$수축기혈압 >= 130) | (df2$이완기혈압 >= 85))

In [34]:
df2['높은혈압'] = np.where((df2['수축기혈압']>=130) | (df2['이완기혈압']>=85),1,0)

In [35]:
df2.head()

   성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤  높은혈압
0     1  72.1  127.0   79.0   90.0      58.0      58.0     0
4     2  75.2  144.0   89.0  110.0     171.0      53.0     1
5     1  94.0  114.0   72.0   86.0     183.0      50.0     0
6     1  93.0  112.0   73.0  250.0     265.0      26.0     0
8     2  82.0  136.0   65.0  104.0      61.0      63.0     1


# 높은 혈당(공복 혈당 100mg/dL 이상)
df2$높은혈당 <- df2$공복혈당 >= 100

In [36]:
df2['높은혈당'] = np.where(df2['공복혈당']>=100,1,0)

In [37]:
df2.head()

   성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤  높은혈압  높은혈당
0     1  72.1  127.0   79.0   90.0      58.0      58.0     0     0
4     2  75.2  144.0   89.0  110.0     171.0      53.0     1     1
5     1  94.0  114.0   72.0   86.0     183.0      50.0     0     0
6     1  93.0  112.0   73.0  250.0     265.0      26.0     0     1
8     2  82.0  136.0   65.0  104.0      61.0      63.0     1     1

# 높은 중성지방(트리글리세라이드 150mg/dL 이상)
df2$높은중성지방 <- df2$트리글리세라이드 >= 150

In [38]:
df2['높은중성지방'] = np.where(df2['트리글리세라이드']>=150,1,0)

In [39]:
df2.head()

   성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤  높은혈압  높은혈당  높은중성지방
0     1  72.1  127.0   79.0   90.0      58.0      58.0     0     0       0
4     2  75.2  144.0   89.0  110.0     171.0      53.0     1     1       1
5     1  94.0  114.0   72.0   86.0     183.0      50.0     0     0       1
6     1  93.0  112.0   73.0  250.0     265.0      26.0     0     1       1
8     2  82.0  136.0   65.0  104.0      61.0      63.0     1     1       0

# 낮은 HDL 콜레스테롤 수치(남성은 40mg/dL 미만, 여성은 50mg/dL 미만)
df2$낮은콜레스테롤 <- (((df2$성별코드 == 1) & (df2$HDL콜레스테롤 < 40)) | ((df2$성별코드 == 2) & (df2$HDL콜레스테롤 <50)))

In [41]:
df2['낮은콜레스테롤'] = np.where(
  ((df2['성별코드']==1) & (df2['HDL콜레스테롤']<40)) | 
  ((df2['성별코드']==2) & (df2['HDL콜레스테롤']<50)),1,0)

In [42]:
df2.head()

,성별코드,허리둘레,수축기혈압,이완기혈압,공복혈당,트리글리세라이드,HDL콜레스테롤,높은혈압,높은혈당,높은중성지방,낮은콜레스테롤
0,1,72.1,127.0,79.0,90.0,58.0,58.0,0,0,0,0
4,2,75.2,144.0,89.0,110.0,171.0,53.0,1,1,1,0
5,1,94.0,114.0,72.0,86.0,183.0,50.0,0,0,1,0
6,1,93.0,112.0,73.0,250.0,265.0,26.0,0,1,1,1
8,2,82.0,136.0,65.0,104.0,61.0,63.0,1,1,0,0

# 복부 비만(남성 90cm 이상, 여성 85cm 이상)
df2$복부비만 <- (((df2$성별코드 == 1) & (df2$허리둘레 >= 90)) | ((df2$성별코드 == 2) & (df2$허리둘레 >= 85)))

In [43]:
df2['복부비만'] = np.where(
  ((df2['성별코드']==1) & (df2['허리둘레']>=90)) | 
  ((df2['성별코드']==2) & (df2['허리둘레']>=85)),1,0)

In [44]:
df2.head()

,성별코드,허리둘레,수축기혈압,이완기혈압,공복혈당,트리글리세라이드,HDL콜레스테롤,높은혈압,높은혈당,높은중성지방,낮은콜레스테롤,복부비만
0,1,72.1,127.0,79.0,90.0,58.0,58.0,0,0,0,0,0
4,2,75.2,144.0,89.0,110.0,171.0,53.0,1,1,1,0,0
5,1,94.0,114.0,72.0,86.0,183.0,50.0,0,0,1,0,1
6,1,93.0,112.0,73.0,250.0,265.0,26.0,0,1,1,1,1
8,2,82.0,136.0,65.0,104.0,61.0,63.0,1,1,0,0,0

# 대사증후군 수
df2$대사증후군 <- (df2$높은혈압 + df2$높은혈당 + df2$높은중성지방 + df2$낮은콜레스테롤 + df2$복부비만)

In [45]:
df2['대사증후군'] = df2['높은혈압']+df2['높은혈당']+df2['높은중성지방']+df2['낮은콜레스테롤']+df2['복부비만']

In [46]:
df2.head()

,성별코드,허리둘레,수축기혈압,이완기혈압,공복혈당,트리글리세라이드,HDL콜레스테롤,높은혈압,높은혈당,높은중성지방,낮은콜레스테롤,복부비만,대사증후군
0,1,72.1,127.0,79.0,90.0,58.0,58.0,0,0,0,0,0,0
4,2,75.2,144.0,89.0,110.0,171.0,53.0,1,1,1,0,0,3
5,1,94.0,114.0,72.0,86.0,183.0,50.0,0,0,1,0,1,2
6,1,93.0,112.0,73.0,250.0,265.0,26.0,0,1,1,1,1,4
8,2,82.0,136.0,65.0,104.0,61.0,63.0,1,1,0,0,0,2

df2$성별 <- ifelse(df2$성별코드 == 1, "남", "여")

In [47]:
df2['성별'] = np.where(df2['성별코드']==1,"남","여")

In [49]:
df2.head()

,성별코드,허리둘레,수축기혈압,이완기혈압,공복혈당,트리글리세라이드,HDL콜레스테롤,높은혈압,높은혈당,높은중성지방,낮은콜레스테롤,복부비만,대사증후군,성별
0,1,72.1,127.0,79.0,90.0,58.0,58.0,0,0,0,0,0,0,남
4,2,75.2,144.0,89.0,110.0,171.0,53.0,1,1,1,0,0,3,여
5,1,94.0,114.0,72.0,86.0,183.0,50.0,0,0,1,0,1,2,남
6,1,93.0,112.0,73.0,250.0,265.0,26.0,0,1,1,1,1,4,남
8,2,82.0,136.0,65.0,104.0,61.0,63.0,1,1,0,0,0,2,여

# 판별
# 0 : 정상, 1~2 : 주의군, 3~5 : 위험군
df2$판별 <- ifelse(df2$대사증후군 == 0, "정상", ifelse(df2$대사증후군 <= 2, "주의군", "위험군"))

table(df2$판별, df2$성별)

In [52]:
df2['판별'] = np.where(df2['대사증후군']==0,"정상",
                     np.where(df2['대사증후군']<=2,"주의군","위험군"))

In [53]:
df2.head()

,성별코드,허리둘레,수축기혈압,이완기혈압,공복혈당,트리글리세라이드,HDL콜레스테롤,높은혈압,높은혈당,높은중성지방,낮은콜레스테롤,복부비만,대사증후군,성별,판별
0,1,72.1,127.0,79.0,90.0,58.0,58.0,0,0,0,0,0,0,남,정상
4,2,75.2,144.0,89.0,110.0,171.0,53.0,1,1,1,0,0,3,여,위험군
5,1,94.0,114.0,72.0,86.0,183.0,50.0,0,0,1,0,1,2,남,주의군
6,1,93.0,112.0,73.0,250.0,265.0,26.0,0,1,1,1,1,4,남,위험군
8,2,82.0,136.0,65.0,104.0,61.0,63.0,1,1,0,0,0,2,여,주의군

In [1]:
df3 = df2.groupby(['성별', '판별']).count()['성별코드']

NameError: name 'df2' is not defined

In [69]:
df3 = df3.reset_index()
df3

  성별   판별    성별코드
0  남  위험군   59242
1  남   정상   29138
2  남  주의군  108710
3  여  위험군   42251
4  여   정상   57681
5  여  주의군  105227